:root {
  --lp-bg--light: #fff;
  --lp-bg--dark: #111;
  --lp-txt--light: #1e1e1e;
  --lp-txt--dark: #aaa;
  --lp-progress-bg--light: #e5e5e5;
  --lp-progress-bg--dark: #2e2e2e;
  --lp-progress-txt--light: #1e1e1e;
  --lp-progress-txt--dark: #eee;
  --lp-progress-txt--gazeta: #000;
  --lp-progress-bar-bg--light: #ffd200;
  --lp-progress-bar-bg--dark: #0076cd;
  --lp-progress-bar-bg--gazeta: #f3002b;
  --lp-progress-bar-bg--stripes--light: rgba(0, 0, 0, 0.1);
  --lp-progress-bar-bg--stripes--dark: rgba(255, 255, 255, 0.1);
  --lp-progress-bar-bg--stripes--gazeta: rgba(0, 0, 0, 0.1);
}
